<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Error page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/CSS/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <style>
        /* Добавленные стили */
        .error-content img {
            width: 100%; /* Установка ширины изображения на 100% */
        }
    </style>
</head>
<body>
<div th:insert="~{fragment/topnav :: navigation}"></div>
<div class="error-content">
    <h2>Упс.... Ошибка!</h2>
    <p>К сожалению, похоже, страница потерялась.
        - Это не ошибка, а просто несчастный случай, который не был преднамеренным.</p>
    <p th:text="${error_message}"></p>
    <p th:text="${userNotFoundException}"></p>
    <!-- Изображение с установленной шириной на 100% -->
    <img src="https://cs8.pikabu.ru/post_img/2016/03/28/11/og_og_1459194302236352360.jpg" alt="Ошибка 404">
    <a th:href="@{/home}">
        <button type="button">Попробуйте еще...</button>
    </a>
</div>
<div th:insert="~{fragment/footer :: footer}"></div>
</body>
</html>